
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

.footer-content{
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-mail-form{
    margin-bottom: 2rem;
}
.footer-mail-form input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 2em;
    border-bottom: 1px solid white;
    padding: 0.3rem 1rem;
}
.footer-mail-form button{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 2em;
    position: relative;
    left: -15px;
    padding: 0.3rem 0rem;
    cursor: pointer;
}
.footer-mail-form button:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.5) translateX(5px);
}

.footer-labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thankyou-message{
    font-family: cursive;
    color: var(--secondary-color);
    margin: 2rem 1rem;
}

.footer-icon{
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 20%;
}
.footer-icon:hover{
    box-shadow: 0 0 10px #ff0000;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

.footer-link{
    margin: 2rem 2rem;
}

#thankyou-message:hover{
    text-shadow: 0 0 10px #ff0000; 
  }
  
@media only screen and (max-width: 600px){
      .footer-link{
          margin: 1.4rem;
      }
}