:root{
 --primary-color: #3D5A80;
 --secondary-color: rgb(117, 117, 117);
}

.section{
  height: 100vh;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

